name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, macos-13, ubuntu-24.04-arm]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.16.0-dev.1326+2e6f7d36b

      - uses: DeterminateSystems/nix-installer-action@main

      - name: Run tests
        run: zig build test

      - name: Run executable on zls
        run: |
          git clone https://github.com/zigtools/zls
          nix run .#default_0_13 -- zls
          nix run . -- zls

  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.16.0-dev.1326+2e6f7d36b

      - name: Check formatting
        run: zig fmt --check .
